ul {
    list-style-type: none;
}

.task-list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.task-list-item, .task-list-item-buttons-wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 100px;
    align-items: center;
}

.task-list-item {
    border-style: groove;
    border-color: cadetblue;
    border-radius: 8px;
    padding: 10px;
}

.task-list-item-buttons-wrapper {
    column-gap: 15px;
}